body {
    background-image:url(./images/alexandr-podvalny-n_Jb_d8O43Q-unsplash.jpg);
    background-size: 100% 100%;
    z-index: -2;
}


.flexbox-container{
display: flex;
height: 100vh;
width: 100vw;

}

.innerflexbox-left{
display: flex;
width: 40vw;
}

.flex-itemleft{
    display: flex;
background-color: rgba(17, 16, 16, 0.568);
width: 40vw;
height: 20vh;
margin-top: 240px;
    align-items: center;
    font-size: 3rem;
    color: rgb(255, 255, 255);
}


.innerflexbox-right{
display: flex;
flex-direction: column;
width: 60vw;
justify-content: space-between;
}


.flexbox-item{
flex: 1;
background-color: rgb(212, 228, 243)

}

.flex-item1{
    display: flex;
    align-items: flex-end;
    font-size: 1.5rem;


}

.flex-item2{
    z-index: 1;
    background-color: aliceblue;
        box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.342);
      }
      

.flex-item3{
    font-size: 1.1rem;


}