body {
    background-image:url(./images/alexandr-podvalny-n_Jb_d8O43Q-unsplash.jpg);
    z-index: -2;
}
  

.flexbox-container{
display: flex;
height: 1000px;
width: 600px;

}

.innerflexbox-left{
display: flex;
width: 300px;
}

.innerflexbox-right{
display: flex;
width: 300px;
}


.flexbox-item{

width: 200px;



}

.flexbox-item1{
min-height: 200px;

}

.flexbox-item2{
min-height: 200px;

}

.flexbox-item3{
min-height: 200px;

}