body {
    background-image:url(./images/alexandr-podvalny-n_Jb_d8O43Q-unsplash.jpg);
    background-size: 100% 100%;
    z-index: -2;
}

div{
    font-family: Arial, Helvetica, sans-serif;
}
  

input[type="submit"] {
    background-color: rgba(241, 193, 103, 0.295);
    font-size: 100%;
    border-radius: 10%;
    border-color: rgb(207, 207, 216);
  }
  
  button{
    background-color: rgba(247, 193, 103, 0.295);
    font-size: 100%;
    border-radius: 10%;
    border-color: rgb(207, 207, 216);
  }


  


.flexbox-container{
display: flex;
height: 98.4vh;
width: 98.4vw;

}

.innerflexbox-left{
display: flex;
justify-content: center;
width: 41.5vw;
font-size: 2em;

}

.flex-itemleft{
    display: flex;
    flex-shrink: 2;
background-color: rgba(17, 16, 16, 0.568);
width: auto;
height: 20%;
margin-top: 175px;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    -webkit-transition: all 1.2s ease;
    -moz-transition: all 1.2s ease;
    -o-transition: all 1.2s ease;
}
    .logo{
        flex-shrink: 1;
        height: 70%;
    }

    .brand{
        flex-shrink: 1;
        flex-grow: 1;
        font-size: 150%;
    }

.flex-itemleft:hover{
height: 23%;
margin-left: -30px;
-webkit-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
-moz-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.9, transparent), to(rgba(0,0,0,0.4)));
 
}


.innerflexbox-right{
display: flex;
flex-direction: column;
width: 57vw;
justify-content: space-between;
height: 90vh;
margin-top: 3rem;
margin-right: 3rem;
}


.flexbox-item{
flex: 1;
background-color: rgb(212, 228, 243);
padding: 3rem;


}

.flex-item1{
    display: flex;
    align-items: flex-end;
    font-size: 1.5rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align:start;

}

.flex-item2{
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    padding: 20px;
    z-index: 1;
    background-color: aliceblue;
        box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.342);
      }

      .form-box{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
      }

      .form{
      padding: 0px;
      width: 40%;
      flex-shrink: 1;
      margin: 1%;
      }

      .form input:focus {
        border: 240% solid;
        box-shadow: 1px 1px 5px rgba(4, 4, 29, 0.582);
      }
      .form input {
          background-color: rgba(248, 248, 248, 0.918);
        font-size: 16px;
        border-radius: 5%;
        border: 100% solid;
        border-color:rgb(37, 37, 100);
        padding: 1.5% 3%;
      }
      
      .error {
        border-color: red;
        border: 300% solid;

      }
      
      

.flex-item3{
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.form-prompt {
font-size: 150%;
padding-left: 1%;
}

.login-prompt {
    padding-left: 1%;
    font-size: 100%;
}